Repository EmirTutar/Patientenmonitoring: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compile_documentation_pdf, compile_presentation_pdf

.gitlab-ci.yml:

stages:
  - compile_pdf

compile_documentation_pdf:
  stage: compile_pdf
  image: fbe-dockerreg.rwu.de/adm-iki/systems/gitlab-runner-docker-latex:master
  tags:
    - latex
  script:
    - cd doc/documentation/ && latexmk -pdf Doku.tex
  only:
    changes:
      - doc/documentation/*
  artifacts:
    name: "Proposal"
    expire_in: 4 weeks
    when: on_success
    name: "Documentation.pdf"
    paths:
      - doc/documentation/build/Doku.pdf

compile_presentation_pdf:
  stage: compile_pdf
  image: fbe-dockerreg.rwu.de/adm-iki/systems/gitlab-runner-docker-latex:master
  tags:
    - latex
  script:
    - cd doc/presentation/Zwischenpraesentation1 && latexmk -pdf Presentation.tex
  only:
    changes:
      - doc/presentation/Zwischenpraesentation1/*
  artifacts:
    name: "Proposal_Presentation"
    expire_in: 4 weeks
    when: on_success
    name: "Presentation.pdf"
    paths:
      - doc/presentation/Zwischenpraesentation1/build/Presentation.pdf

Beamer Presentation
  doc/presentation/Images/camera.png
  doc/presentation/Images/person_in_bed.png
  doc/presentation/Images/raspi.png
  doc/presentation/Images/server.png
  doc/presentation/Presentation.tex
  doc/presentation/sample.bib
Due: none

Beamer Presentation
  doc/presentation/Zwischenpraesentation1/Presentation.tex
Due: compile_presentation_pdf

Alarm system hinzugefügt
  doc/presentation/Zwischenpraesentation1/Presentation.tex
Due: compile_presentation_pdf

Bug fix
  source/docker-compose.yaml
  source/matrix/server/ReadMe.md
  source/matrix/server/nginx/conf/nginx_nocert.conf
Due: none

Deleted hardcoded values
  source/yolov5/Dockerfile
  source/yolov5/config.yaml
  source/yolov5/main.py
Due: none

Fixed color encoding
  source/yolov5/detection/main.py
Due: none

Reduced buffer size
  source/yolov5/detection/config.yaml
  source/yolov5/detection/main.py
Due: none

Wrote Docu for YOLO
  doc/documentation/Doku.tex
  doc/documentation/chapter/implementation.tex
  doc/documentation/images/fallen.png
  doc/documentation/images/sitting.png
  doc/documentation/images/walking.png
  doc/documentation/sample.bib
Due: compile_documentation_pdf

Added bot
  source/docker-compose.yaml
Due: none

Added bot
  source/matrix/bridge/.gitkeep
Due: none

Addeded Matrix Doc
  doc/documentation/chapter/implementation.tex
  doc/documentation/images/cloud.png
  doc/documentation/images/computer.png
  doc/documentation/images/switch.png
  doc/documentation/sample.bib
Due: compile_documentation_pdf

Added Template for Zwioschenpräsentation 2
  .gitlab-ci.yml
  doc/presentation/Zwischenpraesentation2/.latexmkrc
  doc/presentation/Zwischenpraesentation2/Images/camera.png
  doc/presentation/Zwischenpraesentation2/Images/person_in_bed.png
  doc/presentation/Zwischenpraesentation2/Images/raspi.png
  doc/presentation/Zwischenpraesentation2/Images/server.png
  doc/presentation/Zwischenpraesentation2/Presentation.tex
  doc/presentation/Zwischenpraesentation2/build/.gitkeep
  doc/presentation/Zwischenpraesentation2/sample.bib
Due: none

Added Images for the Hardware, Matrix and Yolo
  doc/presentation/Zwischenpraesentation2/Images/Matrix 2.png
  doc/presentation/Zwischenpraesentation2/Images/Matrix.png
  doc/presentation/Zwischenpraesentation2/Images/Raspberry Pi and Camera Closed.jpg
  doc/presentation/Zwischenpraesentation2/Images/Raspberry Pi and Camera Open.jpg
  doc/presentation/Zwischenpraesentation2/Images/Walking.png
  doc/presentation/Zwischenpraesentation2/Images/fallen.png
  doc/presentation/Zwischenpraesentation2/Images/sitting.png
  doc/presentation/Zwischenpraesentation2/Presentation.tex
Due: none

Fixed image names
  doc/presentation/Zwischenpraesentation2/Images/Matrix_2.png
  doc/presentation/Zwischenpraesentation2/Images/Raspberry_Pi_and_Camera_Closed.jpg
  doc/presentation/Zwischenpraesentation2/Images/Raspberry_Pi_and_Camera_Open.jpg
  doc/presentation/Zwischenpraesentation2/Presentation.tex
Due: none

added introdution and abbreviations
  doc/documentation/chapter/abbreviations.tex
  doc/documentation/chapter/introduction.tex
Due: none

added motivation
  doc/documentation/chapter/introduction.tex
Due: none

Fixed typos
  doc/presentation/Zwischenpraesentation2/Presentation.tex
Due: none

Structer fixes
  doc/documentation/Doku.tex
  doc/documentation/chapter/abbreviations.tex
  doc/documentation/chapter/implementation.tex
  doc/documentation/chapter/introduction.tex
  doc/documentation/chapter/specification.tex
  doc/documentation/sample.bib
Due: compile_documentation_pdf

Structer fixes
  doc/documentation/chapter/abbreviations.tex
  doc/documentation/sample.bib
Due: compile_documentation_pdf

Structer fixes
  doc/documentation/chapter/specification.tex
  doc/documentation/sample.bib
Due: compile_documentation_pdf

Adding information about Alarm Setup
  doc/presentation/Zwischenpraesentation1/Presentation.tex
Due: compile_presentation_pdf

Added information about Alarm Setup
  doc/presentation/Zwischenpraesentation2/Images/HXD_Buzzer_Pipser.png
  doc/presentation/Zwischenpraesentation2/Images/Leds.png
  doc/presentation/Zwischenpraesentation2/Images/Steckbrett.png
  doc/presentation/Zwischenpraesentation2/Presentation.tex
Due: none

Fixed attomic pi droping messages
  source/yolov5/detection_video/main.py
Due: none

Turned briged to amd64
  source/docker-compose.yaml
  source/matrix/bridge/Database.go
  source/matrix/bridge/Dockerfile
  source/matrix/bridge/FileStore.go
  source/matrix/bridge/LogHelper.go
  source/matrix/bridge/MailHelper.go
  source/matrix/bridge/Main.go
  source/matrix/bridge/data/.gitkeep
  source/matrix/bridge/go.mod
  source/matrix/bridge/go.sum
Due: none

Added yellow alarm
  source/yolov5/detection/config.yaml
  source/yolov5/detection/main.py
  source/yolov5/detection_video/config.yaml
  source/yolov5/detection_video/main.py
Due: none

Updated Readme and added Licence
  Licence.md
  README.md
Due: none

Modularized LaTeX more
  doc/documentation/chapter/implementation.tex
  doc/documentation/chapter/implementation/matrix.tex
  doc/documentation/chapter/implementation/yolo.tex
  doc/documentation/chapter/specification.tex
  doc/documentation/chapter/specification/can.tex
  doc/documentation/chapter/specification/must.tex
  doc/documentation/chapter/specification/should.tex
Due: none

Updated matrix client
  source/docker-compose.yaml
  source/matrix/client/Dockerfile
  source/matrix/client/config.yaml
  source/matrix/client/main.py
  source/matrix/client/requirements.txt
Due: none

Bug fix
  source/yolov5/video/video.py
Due: none

Wrote mailer
  source/mail/Dockerfile
  source/mail/config.yaml
  source/mail/main.py
  source/mail/requirements.txt
Due: none

Fixed Mailer
  source/mail/main.py
Due: none

Put variables in config file
  source/docker-compose.yaml
  source/mail/Dockerfile
  source/mail/config.yaml
  source/mail/main.py
  source/mail/requirements.txt
Due: none

Fixed typo
  doc/documentation/chapter/implementation/yolo.tex
Due: none

Added Mailcow and MQTT to outline
  doc/documentation/Doku.tex
  doc/documentation/chapter/communication.tex
  doc/documentation/chapter/communication/mqtt.tex
  doc/documentation/chapter/implementation.tex
  doc/documentation/chapter/implementation/mailcow.tex
Due: compile_documentation_pdf
